<div class="my-navbar-logo-container">
    <button class="my-nav-menu-toggle" style="margin-left: 0;" (click)="this.toggleMenuCollapse()">
        <mat-icon [ngClass]="'my-toggle-menu-icon'">menu</mat-icon>
    </button>
    <a class="my-navbar-logo" [routerLink]="'.'">Antony Seas</a>
</div>

<nav class="my-navbar-container"  [ngClass]="this.isMenuCollapsed ? 'hide' : 'show'">
	<div class="my-navbar">

        <button class="my-nav-menu-toggle" style="margin-left: 0;" (click)="this.toggleMenuCollapse()">
            <mat-icon [ngClass]="'my-toggle-menu-icon'">menu</mat-icon>
        </button>

		<ul class="my-nav-options-container">
			<li class="my-nav-option">
				<a class="my-nav-link" [routerLink]="'.'">
					<mat-icon [ngClass]="'my-nav-icon'">list</mat-icon>
					{{'nav-option-projects' | translate}}
				</a>
			</li>
			<li class="my-nav-option">
				<a class="my-nav-link" [routerLink]="'.'">
					<mat-icon [ngClass]="'my-nav-icon'">mail</mat-icon>
					{{'nav-option-contact' | translate}}
				</a>
			</li>
			<li class="my-nav-option">
				<a class="my-nav-link" [routerLink]="'.'">
					<mat-icon [ngClass]="'my-nav-icon'">info</mat-icon>
					{{'nav-option-about' | translate}}
				</a>
			</li>
		</ul>
	</div>
</nav>