.my-navbar-container {
    display: flex;
    position: sticky;
    width: 100%;
    min-width: 180px;
    height: 70px;
    text-align: left;
    margin-bottom: 10px;

    background-color: var(--bg-navbar-color);
}

.my-navbar-container>.my-navbar {
    display: flex !important;
    position: relative;
    width: 100%;
}

.my-navbar *{
    text-decoration: none;
}

.my-navbar>.my-navbar-logo {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    font-weight: bolder;

    -webkit-text-stroke: 0.5px var(--decoration-color);
}

.my-navbar>.my-nav-options-container {
    align-items:center;
    justify-content:center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.my-navbar>.my-nav-options-container>.my-nav-option {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.my-nav-option>.my-nav-link {
    display: flex;
}

.my-nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--decoration-color);
    border: 1px solid var(--decoration-color);
    border-radius: 3px;
    margin-right: 1px;
    transform: scale(0.8);
}