<nav class="my-navbar-container sticky-top">
	<div class="my-navbar">
		<a class="my-navbar-logo" [routerLink]="'.'">Antony Seas</a>

		<ul class="my-nav-options-container">
			<li class="my-nav-option">
				<a class="my-nav-link" [routerLink]="'.'">
					<mat-icon [ngClass]="'my-nav-icon'">list</mat-icon>
					{{'nav-option-projects' | translate}}
				</a>
			</li>
			<li class="my-nav-option">
				<a class="my-nav-link" [routerLink]="'.'">
					<mat-icon [ngClass]="'my-nav-icon'">mail</mat-icon>
					{{'nav-option-contact' | translate}}
				</a>
			</li>
			<li class="my-nav-option">
				<a class="my-nav-link" [routerLink]="'.'">
					<mat-icon [ngClass]="'my-nav-icon'">info</mat-icon>
					{{'nav-option-about' | translate}}
				</a>
			</li>
		</ul>
	</div>
</nav>